*out/
.idea/
data/article_data/
*exploratory*files/
*result/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Created by .ignore support plugin (hsz.mobi)
/analysis/bact_disease_graph_exploratory-20Apr.html
/analysis/bact_disease_graph_exploratory_18Apr.html
/analysis/bact_food_graph_exploratory19apr.html
/analysis/data_bacteria_food.csv
/analysis/data_bacteria_food.tsv
/analysis/disease_exploratory_short_path_examples_big_groups.html
/analysis/diseases-ranked.xlsx
/analysis/diseases.csv
/analysis/exploratory_analysis.html
/analysis/exploratory_analysis_cache/docx/__packages
/analysis/exploratory_analysis_cache/docx/parsing_7fe72706b86613a7c17ce44a46070d1f.RData
/analysis/exploratory_analysis_cache/docx/parsing_7fe72706b86613a7c17ce44a46070d1f.rdb
/analysis/exploratory_analysis_cache/docx/parsing_7fe72706b86613a7c17ce44a46070d1f.rdx
/analysis/exploratory_analysis_cache/html/__packages
/analysis/exploratory_analysis_cache/html/parsing_36166f97471cdebbe5a9353df2c2eb9e.RData
/analysis/exploratory_analysis_cache/html/parsing_36166f97471cdebbe5a9353df2c2eb9e.rdb
/analysis/exploratory_analysis_cache/html/parsing_36166f97471cdebbe5a9353df2c2eb9e.rdx
/analysis/exploratory_analysis_cache/latex/__packages
/analysis/exploratory_analysis_cache/latex/parsing_130443d056d6466fc7cc9ef670fabb12.RData
/analysis/exploratory_analysis_cache/latex/parsing_130443d056d6466fc7cc9ef670fabb12.rdb
/analysis/exploratory_analysis_cache/latex/parsing_130443d056d6466fc7cc9ef670fabb12.rdx
/analysis/food-ranked-dbpedia.xlsx
/analysis/food/dbpedia_food_exploratory.html
/analysis/food/food-mod.csv
/analysis/food/food-ranked.xlsx
/analysis/food/food-texts.csv
/analysis/food/food.csv
/analysis/food/food.tsv
/analysis/food/food_graph_exploratory_18Apr.html
/analysis/food/top100food.txt
/analysis/food/top100food.txt~
/analysis/nutrients-texts.csv
/analysis/result_view/A._muciniphila.csv
/analysis/result_view/Acidaminococcaceae.csv
/analysis/result_view/Actinobacteria.csv
/analysis/result_view/Adlercreutzia.csv
/analysis/result_view/Adlercreutzia_equolifaciens.csv
/analysis/result_view/Akkermansia.csv
/analysis/result_view/Akkermansiaceae.csv
/analysis/result_view/Alistipes.csv
/analysis/result_view/Alistipes_onderdonkii.csv
/analysis/result_view/Anaerostipes.csv
/analysis/result_view/Anaerostipes_hadrus.csv
/analysis/result_view/B._adolescentis.csv
/analysis/result_view/B._vulgatus.csv
/analysis/result_view/Bacillales.csv
/analysis/result_view/Bacteroidaceae.csv
/analysis/result_view/Bacteroidales.csv
/analysis/result_view/Bacteroides_caccae.csv
/analysis/result_view/Bacteroides_plebeius.csv
/analysis/result_view/Bacteroidetes.csv
/analysis/result_view/Bacteroidetes_Chlorobi_group.csv
/analysis/result_view/Bacteroidia.csv
/analysis/result_view/Bifidobacteriaceae.csv
/analysis/result_view/Bifidobacteriales.csv
/analysis/result_view/Bifidobacterium_catenulatum.csv
/analysis/result_view/Bifidobacterium_longum.csv
/analysis/result_view/Blautia.csv
/analysis/result_view/Blautia_glucerasei.csv
/analysis/result_view/Blautia_luti.csv
/analysis/result_view/Blautia_wexlerae.csv
/analysis/result_view/Butyrivibrio.csv
/analysis/result_view/Butyrivibrio_crossotus.csv
/analysis/result_view/C._methylpentosum.csv
/analysis/result_view/C._nexile.csv
/analysis/result_view/Catenibacterium.csv
/analysis/result_view/Catenibacterium_mitsuokai.csv
/analysis/result_view/Chlamydiae_Verrucomicrobia_group.csv
/analysis/result_view/Christensenella.csv
/analysis/result_view/Christensenella_minuta.csv
/analysis/result_view/Christensenellaceae.csv
/analysis/result_view/Clostridiales.csv
/analysis/result_view/Clostridium_clariflavum.csv
/analysis/result_view/Clostridium_lituseburense.csv
/analysis/result_view/Collinsella.csv
/analysis/result_view/Collinsella_aerofaciens.csv
/analysis/result_view/Coprococcus.csv
/analysis/result_view/Coprococcus_eutactus.csv
/analysis/result_view/Coriobacteriaceae.csv
/analysis/result_view/Coriobacteriales.csv
/analysis/result_view/Coriobacteriia.csv
/analysis/result_view/D._longicatena.csv
/analysis/result_view/D._massiliensis.csv
/analysis/result_view/Dialister.csv
/analysis/result_view/Dialister_succinatiphilus.csv
/analysis/result_view/Dorea.csv
/analysis/result_view/E._cylindroides.csv
/analysis/result_view/Enterobacter.csv
/analysis/result_view/Enterobacter_cloacae_complex.csv
/analysis/result_view/Enterobacter_ludwigii.csv
/analysis/result_view/Enterobacteriaceae.csv
/analysis/result_view/Erysipelotrichaceae.csv
/analysis/result_view/Erysipelotrichales.csv
/analysis/result_view/Erysipelotrichi.csv
/analysis/result_view/Escherichia.csv
/analysis/result_view/Escherichia_coli.csv
/analysis/result_view/Eubacteria.csv
/analysis/result_view/Eubacteriaceae.csv
/analysis/result_view/Eubacterium_biforme.csv
/analysis/result_view/Eubacterium_desmolans.csv
/analysis/result_view/Eubacterium_eligens.csv
/analysis/result_view/Eubacterium_hallii.csv
/analysis/result_view/Eubacterium_siraeum.csv
/analysis/result_view/Euryarchaeota.csv
/analysis/result_view/F._prausnitzii.csv
/analysis/result_view/Faecalibacterium.csv
/analysis/result_view/Firmicutes.csv
/analysis/result_view/Fusicatenibacter_saccharivorans.csv
/analysis/result_view/Gammaproteobacteria.csv
/analysis/result_view/Gemmiger.csv
/analysis/result_view/Gemmiger_formicilis.csv
/analysis/result_view/Lachnospiraceae.csv
/analysis/result_view/Lactobacillaceae.csv
/analysis/result_view/Lactobacillales.csv
/analysis/result_view/Lactobacillus_salivarius.csv
/analysis/result_view/Lactococcus.csv
/analysis/result_view/Lactococcus_lactis.csv
/analysis/result_view/Megamonas.csv
/analysis/result_view/Megamonas_funiformis.csv
/analysis/result_view/Methanobacteria.csv
/analysis/result_view/Methanobacteriaceae.csv
/analysis/result_view/Methanobacteriales.csv
/analysis/result_view/Methanobrevibacter.csv
/analysis/result_view/Methanobrevibacter_smithii.csv
/analysis/result_view/Negativicutes.csv
/analysis/result_view/Oscillibacter.csv
/analysis/result_view/Oscillibacter_valericigenes.csv
/analysis/result_view/Oscillospiraceae.csv
/analysis/result_view/Peptostreptococcaceae.csv
/analysis/result_view/Phascolarctobacterium.csv
/analysis/result_view/Phascolarctobacterium_succinatutens.csv
/analysis/result_view/Prevotella.csv
/analysis/result_view/Prevotella_copri.csv
/analysis/result_view/Prevotellaceae.csv
/analysis/result_view/Proteobacteria.csv
/analysis/result_view/R._inulinivorans.csv
/analysis/result_view/Rikenellaceae.csv
/analysis/result_view/Roseburia.csv
/analysis/result_view/Roseburia_faecis.csv
/analysis/result_view/Roseburia_hominis.csv
/analysis/result_view/Roseburia_intestinalis.csv
/analysis/result_view/Ruminiclostridium.csv
/analysis/result_view/Ruminococcaceae.csv
/analysis/result_view/Ruminococcus.csv
/analysis/result_view/Ruminococcus_albus.csv
/analysis/result_view/Ruminococcus_bromii.csv
/analysis/result_view/Ruminococcus_obeum.csv
/analysis/result_view/S._massiliensis.csv
/analysis/result_view/S._vestibularis.csv
/analysis/result_view/Selenomonadales.csv
/analysis/result_view/Staphylococcaceae.csv
/analysis/result_view/Staphylococcus.csv
/analysis/result_view/Staphylococcus_sciuri.csv
/analysis/result_view/Streptococcaceae.csv
/analysis/result_view/Streptococcus.csv
/analysis/result_view/Veillonellaceae.csv
/analysis/result_view/Verrucomicrobia.csv
/analysis/result_view/Verrucomicrobiae.csv
/analysis/result_view/Verrucomicrobiales.csv
/analysis/result_view/bacilli.csv
/analysis/result_view/bacteroides.csv
/analysis/result_view/bifidobacteria.csv
/analysis/result_view/clostridia.csv
/analysis/result_view/enterobacteria.csv
/analysis/result_view/lactobacilli.csv
/data/.swp
/data/article_data.zip
/data/bacteria/all_catalog.csv
/data/bacteria/bacteria_hitdb_3_may.csv
/data/bacteria/taxdump/names.dmp
/data/bacteria/taxdump/nodes.dmp
/data/build-graphs-output-17Apr.csv
/data/build-graphs-output.csv
/data/diseases/HumanDO.obo
/data/diseases/doid.obo
/data/domain_url_count.tsv
/analysis/.Rhistory
/analysis/sentences_exploratory_analysis.html
/data/interesting.txt
/data/nutrients/.~lock.nikogosov_nutrients_normalized.tsv#
/data/nutrients/aro.csv
/data/nutrients/lipids_carbs.list.txt
/data/nutrients/natalia_nitrients.txt
/data/nutrients/other_acids.list.txt
/data/nutrients/saturated_fatty_acids.list.txt
/data/nutrients/unsaturated_fatty_acids.list.txt
/data/nutrients/Физиологически важные жиры и липиды.docx
/data/nutrients/пищ_добавки.docx
/data/nutrients_urls.txt
/data/sentences_full.txt
/data/sentences_labeled.txt
/data/sentences_labeled_replaced.txt
/data/sentences_labeled_replaced_no_disease.txt
/data/sentences_replaced.txt
/data/stanford_parser.zip
/data/stanford_parser/englishPCFG.ser.gz
/data/stanford_parser/stanford-parser-3.5.2-models.jar
/data/stanford_parser/stanford-parser.jar
/figure/unnamed-chunk-10-1.png
/figure/unnamed-chunk-10-2.png
/figure/unnamed-chunk-11-1.png
/figure/unnamed-chunk-11-2.png
/figure/unnamed-chunk-12-1.png
/figure/unnamed-chunk-13-1.png
/figure/unnamed-chunk-14-1.png
/figure/unnamed-chunk-15-1.png
/figure/unnamed-chunk-8-1.png
/figure/unnamed-chunk-9-1.png
/figure/unnamed-chunk-9-2.png
/ohmygut/test/test.csv
/ohmygut/util/build-graphs-output.csv
/ohmygut/util/parse-output.csv
/ohmygut/util/path.png
/ohmygut/util/test.graph
/rsconnect/documents/exploratory_analysis.Rmd/rpubs.com/rpubs/Publish Document.dcf
/transfer/doc2vec.mmodel.w2c
/transfer/doc2vec.model
/transfer/model.doc2vec
/transfer/model.pkl
/transfer/model11_00_57-09_03_16.pkl
/transfer/model17_39_12-07_03_16.pkl
/transfer/model17_44_18-07_03_16.pkl
